#popLayer {
				            background-color: white;
				
				            position: absolute;
				
				            top: 0;
				
				            right: 0;
				
				            bottom: 0;
				
				            left: 0;
				
				            z-index: 10;
				
				            -moz-opacity: 0.8;
				
				            opacity:.80;
				
				            filter: alpha(opacity=80);/* 只支持IE6、7、8、9 */
				
				        }