.menu{
	width: 20%;
	height: 80%;
	float:left;
	display: inline-block;
}
.menu ul{
	margin: 0px;
	padding: 0px;
    list-style-type: none;
	text-align: center;
}
.menu li{
	margin-top: 2%;
	padding: 12px 0px;
	background-color: deepskyblue;
	border: 1px solid gray;
}
